# exec file
gtmp

# vendoring
vendor/

# setting file dir
template/*
resources/*
result/*

!.gitkeep

# Intellij
.idea

# vs code debug binary
debug

# golang converage file
coverage.out

# result file
*.java